body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}


/* TOPBAR */

.topbar{
background:#0a8f3c;
color:white;
display:flex;
justify-content:space-between;
padding:8px 40px;
font-size:14px;
}


/* NAVBAR */

.navbar{
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 40px;
background:white;
}

.logo{
font-size:22px;
font-weight:bold;
color:#0a8f3c;
}

.menu{
display:flex;
list-style:none;
gap:25px;
}

.search input{
padding:6px 10px;
}

.nav-icons i{
margin-left:15px;
cursor:pointer;
}


/* BANNER */

.banner{
display:flex;
justify-content:space-between;
align-items:center;
background:#f3e3e3;
margin:20px 40px;
padding:30px;
border-radius:10px;
}

.banner img{
width:350px;
margin-right:140px;
}

.banner button{
background:#0a8f3c;
color:white;
padding:10px 20px;
border:none;
border-radius:20px;
cursor:pointer;
}


/* FILTERS */

.filters{
display:flex;
gap:20px;
padding:10px 40px;
}

.filters span{
background:#eee;
padding:6px 12px;
border-radius:5px;
}

.filters button{
margin-left:auto;
padding:6px 10px;
}


/* TITLE */

/*.title{
padding:20px 40px;
}*/
.title{
padding:20px 40px;
font-size:22px;
font-weight:bold;
margin-top:20px;
}

/* PRODUCTS */

.products{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
padding:20px 40px;
}



/* CARD */

.card{
background:white;
padding:15px;
border-radius:10px;
text-align:center;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
position:relative;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

/*.card img{
width:100%;
height:150px;
object-fit:contain;
}*/
.card img{
width:100%;
height:160px;
object-fit:contain;
margin-bottom:10px;
}


/* HEART */

.wish{
position:absolute;
top:10px;
right:10px;
color:red;
cursor:pointer;
}


/* PRICE */

.price{
color:#0a8f3c;
font-weight:bold;
}


/* RATING */

.rating{
color:orange;
margin:8px 0;
}


/* BUTTON */

/*.cart{
background:#0a8f3c;
color:white;
border:none;
padding:8px 15px;
border-radius:5px;
cursor:pointer;
}
.buy{
background:#0a8f3c;
color:white;
border:none;
padding:8px 15px;
border-radius:5px;
cursor:pointer;
}*/
.buy{
background:#0a8f3c;
color:white;
border:none;
padding:8px 15px;
border-radius:5px;
cursor:pointer;
margin-right:5px;
}

.cart{
background:#333;
color:white;
border:none;
padding:8px 15px;
border-radius:5px;
cursor:pointer;
}



